<!-- templates/dashboard.html -->
{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<script src="../static/js/formatarValor.js"></script>
<div class="my-4 text-center">
  <div>
    <h1>{{ city }}</h1>
  </div>
  <div>
    <h3>{{ date }}</h3>
  </div>
</div>
{% if records %} {% for record_id, record in records.items() %}

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">{{ record.name }}</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Telefone: {{ record.phone }}</li>
      <li class="list-group-item">Serviço: {{ record.service }}</li>
      <li class="list-group-item">Valor {{ record.price }}</li>
      <li class="list-group-item">{{ record.timestamp | datetimeformat }}</li>
      <li class="list-group-item">Obs. {{ record.details }}</li>
    </ul>
    <div class="text-end">
      <label style="font-size: small"><b>Status</b> {{record.status}}</label>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <!-- Botão para abrir o modal -->
    <button
      type="button"
      class="btn btn-info"
      data-toggle="modal"
      data-target="#osModal"
      data-city="{{ city }}"
      data-name="{{ record.name }}"
      data-phone="{{ record.phone }}"
      data-service="{{ record.service }}"
      data-price="{{ record.price }}"
      data-idrecord="{{ record_id }}"
    >
      Gerar OS
    </button>

    <button
      type="button"
      class="btn btn-warning"
      data-toggle="modal"
      data-target="#osRetorno"
      data-city="{{ city }}"
      data-name="{{ record.name }}"
      data-phone="{{ record.phone }}"
      data-service="{{ record.service }}"
      data-price="{{ record.price }}"
      data-idrecord="{{ record_id }}"
    >
      Retorno
    </button>

    <!-- Botão para abrir o modal -->
    <button
      type="button"
      class="btn btn-danger"
      data-toggle="modal"
      data-target="#osReparo"
      data-city="{{ city }}"
      data-name="{{ record.name }}"
      data-phone="{{ record.phone }}"
      data-service="{{ record.service }}"
      data-price="{{ record.price }}"
      data-idrecord="{{ record_id }}"
    >
      Reparo
    </button>
  </div>
</div>
{% endfor %}

<!-- Modal para gerar OS -->
<div
  class="modal fade"
  id="osModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="osModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osModalLabel">Gerar Ordem de Serviço</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="osForm" method="post" action="/gerar_os">
          <input id="osIdRecord" name="idRecord" hidden />
          <div class="form-group">
            <label for="osCity">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="osCity"
              name="city"
              readonly
            />
          </div>
          <!--<div class="form-group">
                            <label for="osDate">Data</label>
                            <input type="text" class="form-control" id="osDate" name="date" readonly>
                        </div>-->
          <div class="form-group">
            <label for="osName">Cliente</label>
            <input
              type="text"
              class="form-control"
              id="osName"
              name="name"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="osPhone">Telefone</label>
            <input
              type="text"
              class="form-control"
              id="osPhone"
              name="phone"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osServico">Serviço</label>
            <input
              type="text"
              class="form-control"
              id="osServico"
              name="service"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPrice">Valor</label>
            <input
              type="text"
              class="form-control"
              id="osPrice"
              name="price"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPriceService">Valor Final</label>
            <input
              type="text"
              class="form-control"
              id="osPriceService"
              name="priceservice"
              required
            />
          </div>
          <div class="p-4 my-4" style="background-color: rgb(219, 219, 219)">
            <div class="mb-3">
              <h5>Endereço</h5>
            </div>
            <div class="form-group">
              <label for="osBairro">Bairro/Setor</label>
              <input
                type="text"
                class="form-control"
                id="osBairro"
                name="bairro"
              />
            </div>
            <div class="form-group">
              <label for="osRua">Rua</label>
              <input type="text" class="form-control" id="osRua" name="rua" />
            </div>
            <div class="form-group">
              <label for="osNumeroCasa">Nº</label>
              <input
                type="text"
                class="form-control"
                id="osNumeroCasa"
                name="numerocasa"
              />
            </div>
            <div class="form-group">
              <label for="osEnderecoComplemento">Complemento</label>
              <input
                type="text"
                class="form-control"
                id="osEnderecoComplemento"
                name="enderecocomplemento"
              />
            </div>
            <div class="form-group">
              <label for="osLocalizacao">Localização</label>
              <input
                type="text"
                class="form-control"
                id="osLocalizacao"
                name="localizacao"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="osDate">Data</label>
            <input
              type="date"
              class="form-control"
              id="osDate"
              name="dateos"
              required
            />
          </div>
          <div class="form-group">
            <label for="osStartTime">Hora de Início</label>
            <input
              type="time"
              class="form-control"
              id="osStartTime"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="osEndTime">Hora de Término</label>
            <input
              type="time"
              class="form-control"
              id="osEndTime"
              name="end_time"
              required
            />
          </div>

          <div class="mb-3">
            <select
              class="form-select tecnico-select"
              aria-label="Default select example"
              id="osTechnician"
              name="tecnico"
            >
              <option selected>Selecionar Técnico</option>
              {% for tecnico_id, tecnico in tecnicos.items() %}
              <option value="{{ tecnico_id }}">{{ tecnico.name }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- <div class="form-group">
                                                    <label for="osTecnico">Técnico(s)</label>
                                                    <div id="osTecnico">
                                                        {% for tecnico_id, tecnico in tecnicos.items() %}
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="tecnico{{ tecnico_id }}" name="tecnico"
                                                                value="{{ tecnico_id }}">
                                                            <label class="form-check-label" for="tecnico{{ tecnico_id }}">
                                                                {{ tecnico.name }}
                                                            </label>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                </div> -->

          <!--<div class="form-group">
                            <label for="osDescricao">Descrição</label>
                            <textarea class="form-control" id="osDescricao" name="descricao" readonly></textarea>
                        </div>-->
          <input type="text" value="{{date}}" name="date" hidden />

          <button
            type="submit"
            id="confirmaros"
            class="btn btn-primary confirmar-os-btn"
            style="width: 100%"
          >
            Confirmar OS
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para gerar OS Reparo-->
<div
  class="modal fade"
  id="osReparo"
  tabindex="-1"
  role="dialog"
  aria-labelledby="osModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osModalLabel">Gerar Ordem de Serviço</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="osForm" method="post" action="/gerar_os">
          <input id="osIdRecord" name="idRecord" hidden />
          <div class="form-group">
            <label for="osCity">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="osCity"
              name="city"
              readonly
            />
          </div>
          <!--<div class="form-group">
                                <label for="osDate">Data</label>
                                <input type="text" class="form-control" id="osDate" name="date" readonly>
                            </div>-->
          <div class="form-group">
            <label for="osName">Cliente</label>
            <input
              type="text"
              class="form-control"
              id="osName"
              name="name"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="osPhone">Telefone</label>
            <input
              type="text"
              class="form-control"
              id="osPhone"
              name="phone"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osServico">Serviço</label>
            <input
              type="text"
              class="form-control"
              id="osServico"
              name="service"
              value="Reparo"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPrice">Valor</label>
            <input
              type="text"
              class="form-control"
              id="osPrice"
              name="price"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPriceServiceReparo">Valor Final</label>
            <input
              type="text"
              class="form-control"
              id="osPriceServiceReparo"
              name="priceservice"
              required
            />
          </div>
          <div class="p-4 my-4" style="background-color: rgb(219, 219, 219)">
            <div class="mb-3">
              <h5>Endereço</h5>
            </div>
            <div class="form-group">
              <label for="osBairro">Bairro/Setor</label>
              <input
                type="text"
                class="form-control"
                id="osBairro"
                name="bairro"
              />
            </div>
            <div class="form-group">
              <label for="osRua">Rua</label>
              <input type="text" class="form-control" id="osRua" name="rua" />
            </div>
            <div class="form-group">
              <label for="osNumeroCasa">Nº</label>
              <input
                type="text"
                class="form-control"
                id="osNumeroCasa"
                name="numerocasa"
              />
            </div>
            <div class="form-group">
              <label for="osEnderecoComplemento">Complemento</label>
              <input
                type="text"
                class="form-control"
                id="osEnderecoComplemento"
                name="enderecocomplemento"
              />
            </div>
            <div class="form-group">
              <label for="osLocalizacao">Localização</label>
              <input
                type="text"
                class="form-control"
                id="osLocalizacao"
                name="localizacao"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="osDate">Data</label>
            <input
              type="date"
              class="form-control"
              id="osDate"
              name="dateos"
              required
            />
          </div>
          <div class="form-group">
            <label for="osStartTime">Hora de Início</label>
            <input
              type="time"
              class="form-control"
              id="osStartTime"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="osEndTime">Hora de Término</label>
            <input
              type="time"
              class="form-control"
              id="osEndTime"
              name="end_time"
              required
            />
          </div>

          <div class="mb-3">
            <select
              class="form-select tecnico-select"
              aria-label="Default select example"
              id="osTechnician"
              name="tecnico"
            >
              <option selected>Selecionar Técnico</option>
              {% for tecnico_id, tecnico in tecnicos.items() %}
              <option value="{{ tecnico_id }}">{{ tecnico.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="text" value="{{date}}" name="date" hidden />

          <button
            type="submit"
            id="confirmaros"
            class="btn btn-primary confirmar-os-btn"
          >
            Confirmar OS Reparo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para gerar OS Retorno-->
<div
  class="modal fade"
  id="osRetorno"
  tabindex="-1"
  role="dialog"
  aria-labelledby="osModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="osModalLabel">Gerar Ordem de Serviço</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="osForm" method="post" action="/gerar_os">
          <input id="osIdRecord" name="idRecord" hidden />
          <div class="form-group">
            <label for="osCity">Cidade</label>
            <input
              type="text"
              class="form-control"
              id="osCity"
              name="city"
              readonly
            />
          </div>
          <!--<div class="form-group">
                                    <label for="osDate">Data</label>
                                    <input type="text" class="form-control" id="osDate" name="date" readonly>
                                </div>-->
          <div class="form-group">
            <label for="osName">Cliente</label>
            <input
              type="text"
              class="form-control"
              id="osName"
              name="name"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="osPhone">Telefone</label>
            <input
              type="text"
              class="form-control"
              id="osPhone"
              name="phone"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osServico">Serviço</label>
            <input
              type="text"
              class="form-control"
              id="osServico"
              name="service"
              value="Retorno"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPrice">Valor</label>
            <input
              type="text"
              class="form-control"
              id="osPrice"
              name="price"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="osPriceServiceRetorno">Valor Final</label>
            <input
              type="text"
              class="form-control"
              id="osPriceServiceRetorno"
              name="priceservice"
              required
            />
          </div>
          <div class="p-4 my-4" style="background-color: rgb(219, 219, 219)">
            <div class="mb-3">
              <h5>Endereço</h5>
            </div>
            <div class="form-group">
              <label for="osBairro">Bairro/Setor</label>
              <input
                type="text"
                class="form-control"
                id="osBairro"
                name="bairro"
              />
            </div>
            <div class="form-group">
              <label for="osRua">Rua</label>
              <input type="text" class="form-control" id="osRua" name="rua" />
            </div>
            <div class="form-group">
              <label for="osNumeroCasa">Nº</label>
              <input
                type="text"
                class="form-control"
                id="osNumeroCasa"
                name="numerocasa"
              />
            </div>
            <div class="form-group">
              <label for="osEnderecoComplemento">Complemento</label>
              <input
                type="text"
                class="form-control"
                id="osEnderecoComplemento"
                name="enderecocomplemento"
              />
            </div>
            <div class="form-group">
              <label for="osLocalizacao">Localização</label>
              <input
                type="text"
                class="form-control"
                id="osLocalizacao"
                name="localizacao"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="osDate">Data</label>
            <input
              type="date"
              class="form-control"
              id="osDate"
              name="dateos"
              required
            />
          </div>
          <div class="form-group">
            <label for="osStartTime">Hora de Início</label>
            <input
              type="time"
              class="form-control"
              id="osStartTime"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="osEndTime">Hora de Término</label>
            <input
              type="time"
              class="form-control"
              id="osEndTime"
              name="end_time"
              required
            />
          </div>

          <div class="mb-3">
            <select
              class="form-select tecnico-select"
              aria-label="Default select example"
              id="osTechnician"
              name="tecnico"
            >
              <option selected>Selecionar Técnico</option>
              {% for tecnico_id, tecnico in tecnicos.items() %}
              <option value="{{ tecnico_id }}">{{ tecnico.name }}</option>
              {% endfor %}
            </select>
          </div>
          <input type="text" value="{{date}}" name="date" hidden />

          <button
            type="submit"
            id="confirmaros"
            class="btn btn-primary confirmar-os-btn"
          >
            Confirmar Retorno
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}
<p>Nenhum registro de atendimento encontrado para a data selecionada.</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  // Preencher os dados do modal quando o botão é clicado
  $("#osModal").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var city = button.data("city");
    // var date = button.data('date');
    var name = button.data("name");
    var phone = button.data("phone");
    var price = button.data("price");

    var servico = button.data("service");
    var idRecord = button.data("idrecord");
    // var descricao = button.data('descricao');

    var modal = $(this);
    modal.find("#osIdRecord").val(idRecord);
    modal.find("#osCity").val(city);
    //modal.find('#osDate').val(date);
    modal.find("#osName").val(name);
    modal.find("#osPhone").val(phone);
    modal.find("#osPrice").val(price);
    modal.find("#osServico").val(servico);
    //modal.find('#osDescricao').val(descricao);
  });
</script>
<script>
  // Preencher os dados do modal quando o botão é clicado
  $("#osReparo").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var city = button.data("city");
    // var date = button.data('date');
    var name = button.data("name");
    var phone = button.data("phone");
    var price = button.data("price");
    var idRecord = button.data("idrecord");
    // var descricao = button.data('descricao');

    var modal = $(this);
    modal.find("#osIdRecord").val(idRecord);
    modal.find("#osCity").val(city);
    //modal.find('#osDate').val(date);
    modal.find("#osName").val(name);
    modal.find("#osPhone").val(phone);
    modal.find("#osPrice").val(price);
    //modal.find('#osDescricao').val(descricao);
  });
</script>
<script>
  // Preencher os dados do modal quando o botão é clicado
  $("#osRetorno").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var city = button.data("city");
    // var date = button.data('date');
    var name = button.data("name");
    var phone = button.data("phone");
    var price = button.data("price");
    var idRecord = button.data("idrecord");
    // var descricao = button.data('descricao');

    var modal = $(this);
    modal.find("#osIdRecord").val(idRecord);
    modal.find("#osCity").val(city);
    //modal.find('#osDate').val(date);
    modal.find("#osName").val(name);
    modal.find("#osPhone").val(phone);
    modal.find("#osPrice").val(price);
    //modal.find('#osDescricao').val(descricao);
  });
</script>
<!--<script>
            const inputValor = document.getElementById('osPriceService');

            inputValor.addEventListener('input', formatarValor);

            function formatarValor() {
                // Remove qualquer caracter que não seja um dígito numérico
                let valor = inputValor.value.replace(/\D/g, '');

                // Divide o valor em duas partes: a parte inteira e a parte decimal
                const parteInteira = valor.slice(0, -2);
                const parteDecimal = valor.slice(-2);

                // Adiciona um ponto para separar os milhares
                const parteInteiraFormatada = parteInteira.replace(/\B(?=(\d{3})+(?!\d))/g, ".");

                // Atualiza o valor do input com a string formatada como um valor em reais (R$)
                inputValor.value = `${parteInteiraFormatada},${parteDecimal}`;
            }
        </script>
        <script>
            const inputValorReparo = document.getElementById('osPriceServiceReparo');

            inputValorReparo.addEventListener('input', formatarValorReparo);

            function formatarValorReparo() {
                // Remove qualquer caracter que não seja um dígito numérico
                let valor = inputValorReparo.value.replace(/\D/g, '');

                // Divide o valor em duas partes: a parte inteira e a parte decimal
                const parteInteira = valor.slice(0, -2);
                const parteDecimal = valor.slice(-2);

                // Adiciona um ponto para separar os milhares
                const parteInteiraFormatada = parteInteira.replace(/\B(?=(\d{3})+(?!\d))/g, ".");

                // Atualiza o valor do input com a string formatada como um valor em reais (R$)
                inputValorReparo.value = `${parteInteiraFormatada},${parteDecimal}`;
            }
        </script>-->
<script>
  function handleSwitchChange(date1, startTime1, endTime1, technician1, city1) {
    const date = date1;
    const startTime = startTime1;
    const endTime = endTime1;
    const technician = technician1;
    const city = city1;

    const data = {
      date: date,
      startTime: startTime,
      endTime: endTime,
      technician: technician,
      city: city,
    };

    console.log(data);

    fetch("/verifica_agenda", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        if (response.ok) {
          document.getElementById("confirmaros").disabled = false;
          return response.json();
        } else {
          // Se a resposta não for 200, trate como erro
          return response.json().then((errorData) => {
            throw new Error(errorData.message);
          });
        }
      })
      .then((responseData) => {
        console.log(responseData);
        // Se a resposta foi bem-sucedida (status 200), não faça nada adicional
      })
      .catch((error) => {
        console.error("Erro ao enviar os dados:", error);
        // Exibir um pop-up com a mensagem de erro
        document.getElementById("confirmaros").disabled = true;
        alert(error.message);
      });
  }

  function onFieldsChange() {
    const date = document.getElementById("osDate").value;
    const startTime = document.getElementById("osStartTime").value;
    const endTime = document.getElementById("osEndTime").value;
    const technician = document.getElementById("osTechnician").value;
    const city = document.getElementById("osCity").value;

    handleSwitchChange(date, startTime, endTime, technician, city);
  }

  document
    .getElementById("osTechnician")
    .addEventListener("change", onFieldsChange);
</script>
<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    // Usando Luxon para lidar com o fuso horário
    const DateTime = luxon.DateTime;

    // Obtenha a data atual no fuso horário de São Paulo
    const nowInSaoPaulo = DateTime.now().setZone("America/Sao_Paulo");

    // Formate a data para 'YYYY-MM-DD'
    const formattedDate = nowInSaoPaulo.toFormat("yyyy-MM-dd");

    // Obtenha o elemento de entrada da data
    const dateInput = document.getElementById("osDate");

    // Defina o valor do campo de data para a data atual em São Paulo
    dateInput.value = formattedDate;
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    configurarFormatacaoValor("osPriceService");
    configurarFormatacaoValor("osPriceServiceReparo");
    configurarFormatacaoValor("osPriceServiceRetorno");
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const selects = document.querySelectorAll(".tecnico-select");
    const botoes = document.querySelectorAll(".confirmar-os-btn");

    selects.forEach((select, index) => {
      const botao = botoes[index];
      botao.disabled = true; // desabilita inicialmente

      select.addEventListener("change", function () {
        botao.disabled = select.value === "";
      });
    });
  });
</script>

{% endblock %}
